*{
	box-sizing: border-box;
}
body{
	background-color: blue;
}
@media (min-width: 992px){
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-6,.col-lg-12{
		float:left;
		border:1px solid black;
	}
	.col-lg-1
	{
		width:8.33%;
	}
	.col-lg-2
	{
		width:16.66%
	}
	.col-lg-3
	{
		width:25%;
	}
	.col-lg-4
	{
		width:33.32%;
	}
	.col-lg-6
	{
		width:50%;
	}
	.col-lg-12
	{
		width:100%;
	}
}

